<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dailysee"
    android:versionCode="10039"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <!-- 个推SDK权限配置开始 -->
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!--<uses-permission android:name="getui.permission.GetuiService.第三方包名" />  -->
    <uses-permission android:name="getui.permission.GetuiService.com.dailysee" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="com.dailysee.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.base.LoginActivity" />
        <activity android:name=".ui.base.RegisterRulesActivity" />
        <activity android:name=".ui.image.BrowseImageActivity" />
        
        <activity android:name=".ui.user.ChangePhoneActivity" />
        <activity android:name=".ui.user.ProfileActivity" />
        <activity android:name=".ui.user.EditProfileActivity" />
        <activity android:name=".ui.user.AboutActivity" />
        <activity android:name=".ui.user.ServiceAimActivity" />
        <activity android:name=".ui.user.GetReceiptActivity" />
        
        <activity android:name=".ui.merchant.MerchantActivity" />
        <activity android:name=".ui.merchant.MerchantRoomListActivity" />
        <activity android:name=".ui.merchant.MerchantProductListActivity" />
        
        <activity android:name=".ui.sale.SaleActivity" />
        
        <activity android:name=".ui.order.OrderActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.order.ConfirmOrderActivity" />
        <activity android:name=".ui.order.WriteDescActivity" />
        
        <activity android:name=".ui.tip.TipDetailActivity" />
        
        <activity android:name=".ui.consultant.ConsultantActivity" />
        <activity android:name=".ui.consultant.ConsultantDetailActivity" />
        <activity android:name=".ui.consultant.ConsultantPriceActivity" />
        
        <!-- 银联支付 -->
        <activity android:name="com.unionpay.uppay.PayActivity"/>
		<!-- 银联支付 -->
		
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->
        
        <service
		    android:name="com.alexbbb.uploadservice.UploadService"
		    android:enabled="true"
		    android:exported="false" >
		    <intent-filter>
		        <action android:name="com.alexbbb.uploadservice.action.upload"/>
		    </intent-filter>
		</service>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.umeng.fb.ConversationActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.umeng.fb.ContactActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lUPTPpErglSgZH7EPph7tRmq" />
        
        <!-- 个推SDK配置开始 -->
        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="InpSaYns8P9Veo8Y9J1Ub4" />
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="EyfkcHPyME9AGduSho8jn7" />
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="YKuUMtsPgN8tGWutWYyrS8" />
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />
           
		<!-- 配置第三方Receiver -->
        <receiver
            android:name="com.dailysee.service.MyPushMessageReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.InpSaYns8P9Veo8Y9J1Ub4" />
            </intent-filter>
        </receiver>

        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:process=":pushservice"
            android:exported="true"
            android:label="NotificationCenter" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
            </intent-filter>
        </receiver>
        <!-- <receiver
            android:name="com.igexin.sdk.PushReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver> -->
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        
		<service android:name="com.igexin.download.DownloadService" android:process=":pushservice" />
		<receiver android:name="com.igexin.download.DownloadReceiver"> 
			<intent-filter>
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
			</intent-filter>
		</receiver>
		<provider
		    android:process=":pushservice" 
		    android:name="com.igexin.download.DownloadProvider"
			android:authorities="downloads.com.dailysee"	/>
			<!-- android:authorities="downloads.第三方包名" -->
		
        <activity android:name="com.igexin.getuiext.activity.GetuiExtActivity"  
        	android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false" />
        
        <receiver android:name="com.igexin.getuiext.service.PayloadReceiver" android:exported="false" >
			<intent-filter>
			  	<!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改  -->
				<action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
				<!-- android:name="com.igexin.sdk.action.第三方的appId" -->				
				<action android:name="com.igexin.sdk.action.InpSaYns8P9Veo8Y9J1Ub4" />
			</intent-filter>
		</receiver>
        
        <service android:name="com.igexin.getuiext.service.GetuiExtService" android:process=":pushservice" />
        
        <!-- 个推SDK配置结束 -->

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54818244fd98c56ba40008e4" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="OFFICIAL" />
    </application>

</manifest>